@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: "Varela Round", serif;
}

.img-blob-1 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-1.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-1.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

.img-blob-2 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-2.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-2.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

.img-blob-3 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-3.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-3.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

.img-blob-mobile-1 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-1-mobile.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-1-mobile.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

.img-blob-mobile-2 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-2-mobile.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-2-mobile.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

.img-blob-mobile-3 {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('/blob-3-mobile.svg'); /* Use SVG as a mask */
  mask-image: url('/blob-3-mobile.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
}

@media (max-width: 767px) { /* Example mobile breakpoint */
  .img-blob-1 {
    -webkit-mask-image: url('/blob-1-mobile.svg');
    mask-image: url('/blob-1-mobile.svg');
  }

  .img-blob-2 {
    -webkit-mask-image: url('/blob-2-mobile.svg');
    mask-image: url('/blob-2-mobile.svg');
  }

  .img-blob-3 {
    -webkit-mask-image: url('/blob-3-mobile.svg');
    mask-image: url('/blob-3-mobile.svg');
  }

  /* ... similar mobile styles for .img-blob-2, .img-blob-3, etc. */
}


/* 3D Rotating imgs effect*/
.rotate_gallery {
  transform-style: preserve-3d;
  animation: rotateGallery 25s infinite linear;
}


@keyframes rotateGallery {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }
  100% {
    transform: perspective(600px) rotateY(360deg);
  }
}

  @media (min-width: 360px) { /* xs */
    [data-size="responsive"] {
      --distance: 130px;
    }
  }

  @media (min-width: 640px) { /* sm */
    [data-size="responsive"] {
      --distance: 180px;
    }
  }
  @media (min-width: 768px) { /* md */
    [data-size="responsive"] {
      --distance: 220px;
    }
  }
  @media (min-width: 1024px) { /* lg */
    [data-size="responsive"] {
      --distance: 260px;
    }
  }
  @media (min-width: 1280px) { /* xl */
    [data-size="responsive"] {
      --distance: 200px;
    }
  }

  @media (min-width: 1600px) { /* xl */
    [data-size="responsive"] {
      --distance: 250px;
    }
  }
  


@keyframes shine {
  to {
    background-position: 0 0;
  }
}

@keyframes border-shine {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

